<h1>Add a file</h1>

<%= form_for :file, url: files_path do |f| %>
	<p>
			<%= f.label :name %>
			<br/>
			<%= f.text_field :name %>
	</p>

	<p>
			<%= f.label :file %>
			<br/>
			<br/>
			<%= f.file_field :file %>
	</p>
	<br/>
	<p>
			<%= f.submit :Submit %>
	</p>
<% end %>
